@model CapstoneProject.Models.ViewModels.GroupProject
@{
    ViewBag.Title = "AssignProjects";
}

<h2>Apply for Projects</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    var projList = Model.Projects.ToList();
    @Html.HiddenFor(model => model.Group.GroupId)


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].Type)
            </th>
            <th>
                Ranking
            </th>
        </tr>
        @for (int i = 0; i < projList.Count(); i++)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => projList[i].ProjectId)
                    @Html.DisplayFor(modelItem => projList[i].Name)
                </td>
                <td width="60%">
                    @Html.DisplayFor(modelItem => projList[i].Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => projList[i].Type)
                </td>
                <td>
                    <select id="@("project" + projList[i].ProjectId)" class="ranking">
                        <option value="0">Pick a rank</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </td>
            </tr>
        }
    </table>
    <div class="row">
        <div class="col-sm-2 pull-right">
            <input type="submit" name="button" value="Save" class="btn btn-success" />
            @Html.ActionLink("Back", "Details", "Groups", null, new { @class = "btn btn-info" })
        </div>
    </div>
}
<script type="text/javascript">
    $(".ranking").each(function () {
        $(this).data('__old', this.value);
    }).change(function () {
        var $this = $(this), value = $this.val(), oldValue = $this.data('__old');

        $(".ranking").not(this).filter(function () {
            return this.value == value;
        }).val(oldValue).data('__old', oldValue);

        $this.data('__old', value)
    });
</script>
