@model CapstoneProject.Skillset
@{
    ViewBag.Title = "CreateSkillset";
}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script>
    $(function () {
        $("#csharpslider").slider({
            range: "min",
            value: 0,
            min: 0,
            max: 10,
            slide: function (event, ui) {
                $("#CSharp").val(ui.value);
            }
        });
        $("#CSharp").val($("#csharpslider").slider("value"));
    });

    $(function () {
        $("#javaslider").slider({
            range: "min",
            value: 0,
            min: 0,
            max: 10,
            slide: function (event, ui) {
                $("#Java").val(ui.value);
            }
        });
        $("#Java").val($("#javaslider").slider("value"));
    });

    $(function () {
        $("#dbslider").slider({
            range: "min",
            value: 0,
            min: 0,
            max: 10,
            slide: function (event, ui) {
                $("#Database").val(ui.value);
            }
        });
        $("#Database").val($("#dbslider").slider("value"));
    });

    $(function () {
        $("#webslider").slider({
            range: "min",
            value: 0,
            min: 0,
            max: 10,
            slide: function (event, ui) {
                $("#WebDev").val(ui.value);
            }
        });
        $("#WebDev").val($("#webslider").slider("value"));
    });

    $(function () {
        $("#mobslider").slider({
            range: "min",
            value: 0,
            min: 0,
            max: 10,
            slide: function (event, ui) {
                $("#MobileDev").val(ui.value);
            }
        });
        $("#MobileDev").val($("#mobslider").slider("value"));
    });

    $(function () {
        $("#appslider").slider({
            range: "min",
            value: 0,
            min: 0,
            max: 10,
            slide: function (event, ui) {
                $("#ApplDev").val(ui.value);
            }
        });
        $("#ApplDev").val($("#appslider").slider("value"));
    });

    $(function () {
        $("#uislider").slider({
            range: "min",
            value: 0,
            min: 0,
            max: 10,
            slide: function (event, ui) {
                $("#UIDesign").val(ui.value);
            }
        });
        $("#UIDesign").val($("#uislider").slider("value"));
    });

</script>
<h2>Skills Form</h2>
<h4>
    In order to create or join a group, we need you to fill out the form below! <br />
</h4>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr class="colorgraph"/>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CSharp, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="col-md-2">
                    @Html.TextBoxFor(model => model.CSharp, new { @readonly = "readonly", @class = "form-control", @style = "width: 42px;" })
                </div>
                <div class="col-md-8" id="csharpslider"></div>
                @Html.ValidationMessageFor(model => model.CSharp, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Java, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="col-md-2">
                    @Html.TextBoxFor(model => model.Java, new { @readonly = "readonly", @class = "form-control", @style = "width: 42px;" })
                </div>
                <div class="col-md-8" id="javaslider"></div>
                @Html.ValidationMessageFor(model => model.Java, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Database, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="col-md-2">
                    @Html.TextBoxFor(model => model.Database, new { @readonly = "readonly", @class = "form-control", @style = "width: 42px;" })
                </div>
                <div class="col-md-8" id="dbslider"></div>
                @Html.ValidationMessageFor(model => model.Database, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.WebDev, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="col-md-2">
                    @Html.TextBoxFor(model => model.WebDev, new { @readonly = "readonly", @class = "form-control", @style = "width: 42px;" })
                </div>
                <div class="col-md-8" id="webslider"></div>
                @Html.ValidationMessageFor(model => model.WebDev, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MobileDev, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="col-md-2">
                    @Html.TextBoxFor(model => model.MobileDev, new { @readonly = "readonly", @class = "form-control", @style = "width: 42px;" })
                </div>
                <div class="col-md-8" id="mobslider"></div>
                @Html.ValidationMessageFor(model => model.MobileDev, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ApplDev, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="col-md-2">
                    @Html.TextBoxFor(model => model.ApplDev, new { @readonly = "readonly", @class = "form-control", @style = "width: 42px;" })
                </div>
                <div class="col-md-8" id="appslider"></div>
                @Html.ValidationMessageFor(model => model.ApplDev, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.UIDesign, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="col-md-2">
                    @Html.TextBoxFor(model => model.UIDesign, new { @readonly = "readonly", @class = "form-control", @style = "width: 42px;" })
                </div>
                <div class="col-md-8" id="uislider"></div>
                @Html.ValidationMessageFor(model => model.UIDesign, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.ActionLink("Cancel", "Index", "Students", null, new { @class = "btn btn-default", @href = Request.UrlReferrer })
            <input type="submit" name="button" value="Submit" class="btn btn-info" />
        </div>
    </div>
}
