@model CapstoneProject.Group

@{
    ViewBag.Title = "Details";
}

@{
    <h2>Group Details</h2>
    if (Model.GroupName.IsEmpty())
    {
        <p>You don't have a group. </p>
        <p>Would you like to create or joine a group? </p>
        <p> @Html.ActionLink("Create/Join Group", "Index", null, new { @class = "btn btn-default" })</p>

    }
    else
    {
     
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.GroupName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.GroupName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Pin)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Pin)
                </dd>

                @*<dt>
                    @Html.DisplayNameFor(model => model.Skillset.Programming)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Skillset.Programming)/10
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Skillset.WebDev)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Skillset.WebDev)/10
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Skillset.MobileDev)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Skillset.MobileDev)/10
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Skillset.ApplDev)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Skillset.ApplDev)/10
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Skillset.UIDesign)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Skillset.UIDesign)/10
                </dd>*@

            </dl>
        </div>
        <hr />
        <h4>Group Skillset</h4>
        <div><img src="@Url.Action("CreateChart", "Students", new { id = Model.Skillset.Id })" /></div>
        <hr />
        @*<h3>Members 
    @Html.ActionLink("Leave Group", "LeaveGroup", new { id = Model.GroupId }, new { @class = "btn btn-info" })
</h3>*@
 
<h3>Members <button type="button" class="btn btn-info" data-toggle="modal" data-target="#leaveModal">Leave Group</button></h3>
        var studList = Model.Students.ToList();

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => studList[0].FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => studList[0].LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => studList[0].Email)
                </th>
            </tr>
            @for (int i = 0; i < studList.Count(); i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => studList[i].FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => studList[i].LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => studList[i].Email)
                    </td>
                </tr>
            }
        </table>

        <h3>Projects</h3>
        var projList = Model.Projects.ToList();
        if (projList.Count() == 0)
        {
            <p>You don't have any projects. </p>
            <p>Would you like to apply for projects? </p>
            <p> @Html.ActionLink("Apply for Projects", "Index", null, new { @class = "btn btn-default" })</p>
        }
        else
        {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => projList[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => projList[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => projList[0].Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => projList[0].State)
                </th>
            </tr>
            @for (int i = 0, len = projList.Count(); i < len; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => projList[i].Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => projList[i].Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => projList[i].Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => projList[i].State)
                    </td>
                </tr>
            }
        </table>
        }

        }
    }

<!-- Modal -->
<div id="leaveModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Leave Group?</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to leave?</p>
            </div>
            <div class="modal-footer">
                <button type="button"  id="leaveGroup" class="btn btn-primary">Leave</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('#leaveGroup').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'GET',
                url: "/Groups/LeaveGroup/" + @Model.GroupId,
                data: { },
                success: function() {
                    window.location.href = "/Groups/Index"
                },
                error: function(e) {
                    alert(e.responseText);
                }
            })
        })
    });
</script>
