@model CapstoneProject.Models.GroupStudent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Group</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Group.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.GroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Group.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Group.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Group.Pin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.Pin)
        </dd>

    </dl>
    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => Model.Students)
            </th>
           
            <th></th>
        </tr>

        @foreach (Student s in Model.Students)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => s.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(model => s.LastName)
                </td>

            </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Group.GroupId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
