@model CapstoneProject.Group

@{
    ViewBag.Title = "Join Group";
}

<h2>Please enter a pin below - </h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.GroupId)
        <table class="table ccol-xs-12 col-sm-8 col-md-6 ">
            <tr>
                <td>
                    @Html.LabelFor(model => model.GroupName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.GroupName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Pin)
                </td>
                <td >
                    @Html.EditorFor(model => model.Pin)<br /><span style="color:red"> @ViewBag.JoinError </span>
                </td>
            </tr>
        </table>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.ActionLink("Cancel", "Index", "Groups", new { @class = "btn btn-danger" })
                    <input type="submit" value="Join" class="btn btn-success" />
                </div>
            </div>
</div>
}
