@model CapstoneProject.Coop

@{
    ViewBag.Title = "Coop Details";
}

<h2>Coop Details</h2>
<table style="width: 100%">
    <tr style="text-align: left;">
        @{ if (Session["UserType"].ToString().Equals("Coop"))
            {
                <td>@Html.ActionLink("Go Back", "Students", "Coops", null, new { @class = "btn btn-danger" })
                @Html.ActionLink("Add/Edit Comment", "AddComment", "Coops", new { id = Model.CoopId }, new { @class = "btn btn-info" })</td>
            }
            else {
                <td>@Html.ActionLink("Go Back", "Index", "Students", null, new { @class = "btn btn-danger" })
                @Html.ActionLink("Edit Coop", "Edit", new { id = Model.CoopId }, new { @class = "btn btn-info" })</td>
            }
        }
    </tr>
</table>
<div>
    <hr />
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.CompanyName)</th>
                    <td>@Html.DisplayFor(model => model.CompanyName)</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.JobTitle)</th>
                    <td>@Html.DisplayFor(model => model.JobTitle)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <td>@Html.DisplayFor(model => model.Description)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.StartDate)</th>
                    <td>@Html.DisplayFor(model => model.StartDate)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.EndDate)</th>
                    <td>@Html.DisplayFor(model => model.EndDate))</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Comments)</th>
                    <td>@if (Model.Comments.IsEmpty())
                    {
                        <p>No comment has been added.</p>
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.Comments)
                    }</td>
                </tr>
            </tbody>
        </table>
    </div>   
</div>