@model CapstoneProject.Models.ViewModels.GroupRatio

@{
    ViewBag.Title = "Group Reports";
}

<h3 class="text-center">Group Status</h3>
<hr class="colorgraph">  
<div class="row">
    <div class="text-center">
        <img src="@Url.Action("GroupChart", "Managements", new { assigned = Model.Assigned, notassigned = Model.NotAssigned })" />
    </div>
    <div >
        <p><b>Total number of groups: @Model.Total</b></p>
       
         <table class="table table-striped">
            <tr>
                <th>Group State</th>
                <th>Count</th>
                <th>% of Total</th>
            </tr>
            <tr>
                <td>Assigned</td>
                <td>@Model.Assigned</td>
                <td>@Model.AssignedPct</td>
            </tr>
            <tr>
                <td>Not Assigned</td>
                <td>@Model.NotAssigned</td>
                <td>@Model.NotAssignedPct</td>
            </tr>
        </table>
    </div>
</div>


