@model CapstoneProject.Models.ViewModels.UserRatio

@{
    ViewBag.Title = "Group Reports";
}

<h3 class="text-center">Group Status</h3>

<div class="row">
    <div class="text-center">
        <img src="@Url.Action("UserChart", "Managements", new { students = Model.Students, clients = Model.Clients, admins = Model.Admins, advisors = Model.Advisors, mng = Model.Management })" />
    </div>
    <div class="text-center">
        <p>Total number of users: @Model.Total</p>
        <p>Student Count: @Model.Students  --  Percent: @Model.StudentPct%</p>
        <p>Client Count: @Model.Clients  --  Percent: @Model.ClientPct%</p>
        <p>Admin Count: @Model.Admins  --  Percent: @Model.AdminPct%</p>
        <p>Management Count: @Model.Management  --  Percent: @Model.MngPct%</p>
        <p>Coop Advisor Count: @Model.Advisors  --  Percent: @Model.AdvisorPct%</p>

    </div>
</div>
