@model CapstoneProject.Models.ViewModels.StudentProfile

@{
    ViewBag.Title = "Student Profile";
}

<h2>Profile Page</h2>
<h4>@Html.ActionLink("Edit Profile", "Edit", new { id = Model.Student.UserId }, new { @class = "btn btn-info" }) </h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Student.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Student.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.PhoneNumber)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Student.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Email)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Student.StudentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.StudentNumber)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Program.ProgramName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Program.ProgramName)
        </dd>
    </dl>

</div>
<hr />

<h4>Skillset</h4>
@{ if (Model.Student.Skillset != null)
    {
<div><img src="@Url.Action("CreateChart", "Students", new { id = Model.Student.Skillset.Id })" /></div>
    }
    else { <p> You currently don't have a registered skill set.
               Create one? @Html.ActionLink("Click here", "Index", "Groups", null, new { @class = "btn btn-default" }) </p> }
    }

<div>
    @{
        var coopList = Model.Student.Coops.ToList();
    }
    <hr />
    <h4>
        Coop Information
        @{if (coopList.Count() < 2)
            {
                @Html.ActionLink("Add Coop", "AddCoop", "Students", new { @class = "btn btn-default" })
            }
        }
    </h4>
    <hr />
    @{
        if (coopList.Count() == 0)
        {
            <h4>You have no coop in your profile.</h4>
        }
        else
        {
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => coopList[0].CompanyName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => coopList[0].JobTitle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => coopList[0].StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => coopList[0].EndDate)
                    </th>
                </tr>
                @for (int i = 0; i < coopList.Count(); i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => coopList[i].CompanyName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => coopList[i].JobTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => coopList[i].StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => coopList[i].EndDate)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditCoop", new { id = coopList[i].CoopId }) |
                            @Html.ActionLink("Details", "CoopDetails", new { id = coopList[i].CoopId }) |
                            @Html.ActionLink("Delete", "DeleteCoop", new { id = coopList[i].CoopId })
                        </td>
                    </tr>
                }
            </table>
        }
    }
    </div>
