@model IEnumerable<CapstoneProject.Feedback>

@{
    ViewBag.Title = "Home - Capstone Portal";
}

<link href="~/Content/Images/HomePage/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Images/HomePage/prettyPhoto.css" rel="stylesheet" />
<link href="~/Content/Images/HomePage/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/Images/HomePage/animate.css" rel="stylesheet" />
<link href="~/Content/Images/HomePage/main.css" rel="stylesheet" />
<link href="~/Content/Images/HomePage/responsive.css" rel="stylesheet" />

<section id="home">
    <div class="home-pattern"></div>
    <div id="main-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#main-carousel" data-slide-to="1"></li>
            <li data-target="#main-carousel" data-slide-to="2"></li>
        </ol><!--/.carousel-indicators-->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Content/Images/HomePage/slide1.jpg" />
                <div class="carousel-caption">
                    <div>
                        <h2 style="background-color: #0a3e6b; padding: 5px" class="heading animated bounceInDown">Submit a Project</h2>
                        <p style="background-color: #0a3e6b; padding: 5px"  class="animated bounceInUp">Client? looking to get automate your new business? Business booming fast, and you need stay up with technology? Submit your project for approval and your well on your way to success </p>
                        @*<a class="btn btn-default slider-btn animated fadeIn" href="~/Views/Account/Login.cshtml">Start Here!</a>*@
                        <p>@Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-primary slider-btn animated fadeIn", })</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/Images/HomePage/slide2.jpg" />
                <div class="carousel-caption">
                    <div>
                        <h2 style="background-color: #0a3e6b; padding: 5px" class="heading animated bounceInDown">Why Capstone?</h2>
                        <p style="background-color: #0a3e6b; padding: 5px" class="animated bounceInUp"> Systems Analyst Annual Capstone Project Competition is a valuable milestone that showcases students' remarkable academic growth. </p>

                        @*<a class="btn btn-default slider-btn animated fadeIn" href="~/Views/Account/Register.cshtml">Register</a>*@
                        <p>@Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn-default, btn btn-default slider-btn animated fadeIn" })</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/Images/HomePage/slide3.jpg" />
                <div class="carousel-caption">
                    <div>
                        <h2 style="background-color: #0a3e6b; padding: 5px" class="heading animated bounceInRight">The outcome</h2>
                        <p  style="background-color: #0a3e6b; padding: 5px" class="animated bounceInLeft">These research projects are integrated into the curriculum and serve as a core component of the course</p>
                        <p>@Html.ActionLink("Get Started", "Login", "Account", null, new { @class = "btn btn-default, btn btn-default slider-btn animated fadeIn" })</p>
                    </div>
                </div>
            </div>
        </div><!--/.carousel-inner-->
        <a class="carousel-left member-carousel-control hidden-xs" href="#main-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
        <a class="carousel-right member-carousel-control hidden-xs" href="#main-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
    </div>
</section><!--/#home-->

<section id="services" class="parallax-section">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="title-one">Capstone as itself</h2>
                <p>As with funded projects, industry partners are required to work closely with the student project team to ensure the success of the project, and provide information and feedback to the team as required. Partners are expected to provide staff time to consult with the research team as an in-kind contribution.  </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="our-service">
                    <div class="services row">
                        <div class="col-sm-offset-1 col-sm-5">
                            <div class="single-service">
                                <i class="fa fa-th"></i>
                                <h2><a target="_blank" href="http://sacapstone.wikidot.com/wiki:2015-candidate-projects">Previous Projects</a></h2>
                                <p>Since the initial enrollment of the capstone program here at Sheridan College, we have strieved to bring the name of capstone to where it is at now. We are proud to say it's come to a very valuable, respectable and renowened position where it stands today. With the dedicated, hardworking team of students and staff we were able to work along some big names in the industry. Lets take a look at what these projects were and which companies gave us the opportunity to help them. </p>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="single-service">
                                <i class="fa fa-html5"></i>
                                <h2><a target="_blank" href="http://sacapstone.wikidot.com/wiki:2015-candidate-projects2">Current Projects</a></h2>
                                <p>Taking stand point where Capstone stands is remarkable. Being able to work along side with some of the biggest industry partners has given us alot of opportunity for growth and raise our standards. This goes a long way for us here at Sheridan College, as we take good pride in our work we like to show it of as well. Lets take a look at what we are currently accomplishing here at Sheridan. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#service-->
<section id="clients" class="parallax-section">
    <div class="container">
        <div class="clients-wrapper">
            <div class="row text-center">
                <div class="col-sm-8 col-sm-offset-2">
                    <h2 class="title-one">Clients Say About Us</h2>
                    <p>The best possible recommendations for us come from the people with first-hand experience of what we’re like to work with – our clients. Read this short digest of recent feedback, and discover more about the effectiveness of our approach and our results.</p>
                </div>
            </div>
            @Html.Partial("~/Views/Clients/_Feedbacks.cshtml", Model)
        </div>
    </div>
    <div>
        @Html.ActionLink("Read More", "Feedbacks", "Clients", null, new { @class = "btn btn-primary fa-align-right pull-right" })
    </div>
</section><!--/#clients-->

<section id="contact">
    <div class="container">
        <div class="row text-center clearfix">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="contact-heading">
                    <h2 class="title-one"><a href="~/Home/Contact"</a>Connect With Us</h2>
                    <p>Lets have a word? Care to reach out to us?</p>
                </div>
            </div>
        </div>
    </div>
</section> <!--/#contact-->
