<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Capstone Portal</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#003766; width:60%; margin-left:20%">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Capstone Portal", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <span class="pull-right">                
                    <ul class="nav navbar-nav">
                    @if (Session["UserType"] == null)
                    {
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Register", "Register", "Account")</li>
                        <li>@Html.ActionLink("Login", "Login", "Account")</li>
                        
                    }
                    else
                    {
                        if (Session["UserType"].ToString().Equals("Student"))
                        {
                            <li>@Html.ActionLink("Profile", "Index", "Students")</li>
                            <li>@Html.ActionLink("My Group", "Details", "Groups")</li>
                            <li>@Html.ActionLink("Groups", "Index", "Groups")</li>
                        }
                        else if (Session["UserType"].ToString().Equals("Client"))
                        {
                            <li>@Html.ActionLink("Profile", "Index", "Clients")</li>
                            <li>@Html.ActionLink("My Projects", "Projects", "Projects")</li>
                        }
                        else if (Session["UserType"].ToString().Equals("Admin"))
                        {
                            <li>@Html.ActionLink("Users", "Users", "Admins")</li>
                            <li>@Html.ActionLink("Groups", "Groups", "Admins")</li>
                            <li>@Html.ActionLink("Projects", "Projects", "Projects")</li>
                            <li>@Html.ActionLink("Project Matching", "ProjectMatch", "Projects")</li>
                        }
                        else if(Session["UserType"].ToString().Equals("Coop"))
                        {
                            <li>@Html.ActionLink("Students", "Students", "Coops")</li>
                        }
                        else if (Session["UserType"].ToString().Equals("Management"))
                        {

                        }
                        <li >@Html.ActionLink("Logout", "Logout", "Account")</li>
                    }
                </ul>
                    </span>
            </div>
        </div>
    </div>
    <div class="container body-content">

        @RenderBody()
        <footer>
            <hr class="colorgraph">
            @*&copy; @DateTime.Now.Year - MassIV Capstone Portal*@         
            <img style="width:100%" src="/Content/Images/sheridanlogo.jpg" />
</footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
    //session end
    var sessionTimeoutWarning = @Session.Timeout- 1;

    var sTimeout = parseInt(sessionTimeoutWarning) * 60 * 1000;
    setTimeout('SessionEnd()', sTimeout);
    

    function SessionEnd() {
        $.ajax({
            type: 'GET',
            url: "/Account/Logout/",
            data: {
            },
            success: function () {
                window.location = "/Account/Login";
            },
            error: function (e) {
               // alert(e.responseText);
            }
        });
    }
    </script>
    
</body>

</html>
 