@model IEnumerable<CapstoneProject.Feedback>

@{
    ViewBag.Title = "Client Feedback";
}

<link href="~/Content/Images/HomePage/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Images/HomePage/prettyPhoto.css" rel="stylesheet" />
<link href="~/Content/Images/HomePage/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/Images/HomePage/animate.css" rel="stylesheet" />
<link href="~/Content/Images/HomePage/main.css" rel="stylesheet" />
<link href="~/Content/Images/HomePage/responsive.css" rel="stylesheet" />

<script>
    $(function () {
        $('.rateit').rateit();
    });
</script>

<hr class="colorgraph">

<section id="clients" class="parallax-section">
    <div class="container">
        <div class="clients-wrapper">
            <div class="row text-center">
                <div class="col-sm-8 col-sm-offset-2">
                    <h2 style="background-color: rgba(10, 62, 107, 0.6); padding: 5px" class="title-one">Client Feedbacks</h2>
                    <p style="background-color: rgba(10, 62, 107, 0.6); padding: 5px">The best possible recommendations for us come from the people with first-hand experience of what we’re like to work with – our clients. Read this short digest of recent feedback, and discover more about the effectiveness of our approach and our results.</p>
                </div>
            </div>
            <div id="clients-carousel" class="carousel">
                <div class="carousel-inner">
                    @{ var list = Model.ToList(); }
                    @for (int i = 0; i < list.Count(); i++)
                    {
                        <div class="item active">
                            <div class="single-client">
                                <div class="media">
                                    <div class="media-body">
                                        <blockquote>
                                            <div class="rateit bigstars" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-resetable="false"
                                                 data-rateit-ispreset="true" value="5" data-rateit-readonly="true" data-rateit-value="@list[i].Rating"></div><br /><p>@list[i].Comment</p><small>@list[i].Client.FirstName @list[i].Client.LastName</small><p>@list[i].Client.CompanyName</p>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />  
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    div.bigstars div.rateit-range {
        background: url(/Content/Images/EmptyStar.png);
        height: 32px;
    }

    div.bigstars div.rateit-hover {
        background: url(/Content/Images/FilledStar.png);
    }

    div.bigstars div.rateit-selected {
        background: url(/Content/Images/FilledStar.png);
    }

    div.bigstars div.rateit-reset {
        background: url(/Content/Images/EmptyStar.png);
        width: 32px;
        height: 32px;
    }

        div.bigstars div.rateit-reset:hover {
            background: url(/Content/Images/EmptyStar.png);
        }
</style>
            </div>
        </div>
</section>