@model IEnumerable<CapstoneProject.Feedback>

@{
    ViewBag.Title = "Feedbacks";
}

<h2>Feedbacks</h2>
<script>
    $(function () {
        $('.rateit').rateit();
    });
</script>
<style>
    div.bigstars div.rateit-range {
        background: url(/Content/Images/EmptyStar.png);
        height: 32px;
    }

    div.bigstars div.rateit-hover {
        background: url(/Content/Images/FilledStar.png);
    }

    div.bigstars div.rateit-selected {
        background: url(/Content/Images/FilledStar.png);
    }

    div.bigstars div.rateit-reset {
        background: url(/Content/Images/EmptyStar.png);
        width: 32px;
        height: 32px;
    }

        div.bigstars div.rateit-reset:hover {
            background: url(/Content/Images/EmptyStar.png);
        }
</style>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>

                <div class="rateit bigstars" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-resetable="false" 
                     data-rateit-ispreset="true" value="5" data-rateit-readonly="true" data-rateit-value="@item.Rating"></div>
                
            </td>


        </tr>
                    }

</table>
