@model CapstoneProject.Client

@{
    ViewBag.Title = "Client Profile";
}

<div class="container">
    <div class="row">
        @*<div class="col-md-5  toppad  pull-right col-md-offset-3 ">
                <A href="edit.html">Edit Profile</A>
                <A href="edit.html">Logout</A>
                <br>
                <p class="text-info">May 05,2014,03:00 pm </p>
            </div>*@
        <hr />
        <div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-3 col-lg-3 " align="center">
                        <img  style="height:230px; width:100%;"src="@Url.Action("GetImage", "Account", new { filename = Model.Username })" alt="User Pic" class="img-circle" />
                        @using (Html.BeginForm("FileUpload", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <label for="file">Upload Image:</label><span class="text-danger">@ViewBag.FileError</span>
                            <input type="file" name="file" id="file" style="width: 100%;" />
                            <input type="submit" value="Upload" class="submit" />
                        }
                    </div>
                    <div class="col-md-9 col-lg-9 pul">
                        <table class="table table-user-information" style="text-align:right;">
                            <tr>
                                <td><strong>Email:</strong></td>
                                <td>@Html.DisplayFor(model => model.Email)</td>
                            </tr>                            
                            <tr>
                                <td><strong>Phone Number:</strong></td>
                                <td>@Html.DisplayFor(model => model.PhoneNumber)</td>
                            </tr>
                            <tr>
                                <td><strong>Company Name:</strong></td>
                                <td>@Html.DisplayFor(model => model.CompanyName)</td>
                            </tr>
                            <tr>
                                <td><strong>Company Address</strong></td>
                                <td>@Html.DisplayFor(model => model.CompanyAddress)</td>
                            </tr>
                            <tr>
                                <td><strong>Company Description:</strong></td>
                                <td>@Html.DisplayFor(model => model.CompanyDescription)</td>
                            </tr>
                            <tr></tr>
                            @*<tr>
                            <td>@Html.ActionLink("Edit Profile", "Edit", new { id = Model.Student.UserId }, new { @class = "btn btn-info" })</td>
                            <td style="text-align:right;"><a href="~/Account/Logout" class="btn btn-warning">Logout</a></td>
                        </tr>*@
                        </table>
                    </div>

                </div>
                <div class="panel-footer">
                    @*<a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>*@
                    @* <span class="pull-right">*@
                    @Html.ActionLink("Change Password", "../Account/ChangePassword", "Account", new { @class = "btn btn-warning pull-right" })
                    @Html.ActionLink("Edit Profile", "Edit", new { id = Model.UserId }, new { @class = "btn btn-info" }) 
                    @*<a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>*@
                    @*<a href="~/Account/Logout" data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger">Logout <i class="glyphicon glyphicon-remove"></i></a></span>*@
                </div>
                

            </div>
        </div>
    </div>
</div>