@model CapstoneProject.Models.ViewModels.GroupList

@{
    ViewBag.Title = "Group List";
}

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>

<h2>Group List</h2>
<hr />

<table style="width: 100%">
    <tr>
        <td>
            <div style="width: 50%; float: left; text-align: left;"><h4>@ViewBag.Status</h4></div>
            <div style="width: 50%; float: left; text-align: right;"><h4 style="display: inline-block">Status:</h4> @Html.DropDownListFor(model => model.SelectedStatus, Model.GroupStatus as List<SelectListItem>, new { @style = "width: 135px", @class = "pull-right form-control", @Id = "groupstatus" })</div>
        </td>
    </tr>
</table>

<span class="text-danger"> @ViewBag.DeleteGroupError </span>
<br />
@Html.Partial("~/Views/Admins/_Groups.cshtml", Model.Groups)

<script type="text/javascript">

    $(document).ready(function () {
        $('#groups').DataTable();
    });

    $('#groupstatus').change(function () {
        var url = '';
        var type = $(this).val();
        if (type == "Assigned") {
            url = '@Url.Action("Groups", "Admins", new { status = "Assigned" })'
        }
        else if (type == "Unassigned") {
            url = '@Url.Action("Groups", "Admins", new { status = "Unassigned" })'
        }
        else {
            url = '@Url.Action("Groups", "Admins", null)'
        }
        if (url != null && url != '') {
            window.location.href = url;
        }
    })
</script>

