@model CapstoneProject.Models.ViewModels.UserList

@{
    ViewBag.Title = "User List";
}

<h2>User List</h2>

<p>
    @Html.ActionLink("Create Account", "CreateUser", null, new { @class="btn btn-info"}) <span style="flood-color: green">@ViewBag.CreateUser</span>
</p>

<hr />
<table style="width: 100%">
    <tr>
        <td>
            <div style="width: 50%; float: left; text-align: left;"><h4>@ViewBag.Type</h4></div>
            <div style="width: 50%; float: left; text-align: right;"><h4 style="display: inline-block">Type:</h4> @Html.DropDownListFor(model => model.SelectedType, Model.UserTypes as List<SelectListItem>, new { @style = "width: 110px", @class = "pull-right form-control", @Id = "usertype" })</div>
        </td>
    </tr>
</table>

<br />

@Html.Partial("~/Views/Admins/_Users.cshtml", Model.Users)

<script type="text/javascript">
    $('#usertype').change(function () {
        var url = '';
        var type = $(this).val();
        if (type == "Student") {
            url = '@Url.Action("Users", "Admins", new { type = "Student" })'
        }
        else if (type == "Client") {
            url = '@Url.Action("Users", "Admins", new { type = "Client" })'
        }
        else if (type == "Coop") {
            url = '@Url.Action("Users", "Admins", new { type = "Coop" })'
        }
        else if (type == "Management") {
            url = '@Url.Action("Users", "Admins", new { type = "Management" })'
        }
        else if (type == "Admin") {
            url = '@Url.Action("Users", "Admins", new { type = "Admin" })'
        }
        else {
            url = '@Url.Action("Users", "Admins", null)'
        }
        if (url != null && url != '') {
            window.location.href = url;
        }
    })
</script>