@model CapstoneProject.Project
@{
    ViewBag.Title = "_ProjectDetail";
}

<input id="@Model.Name" type="button" value="@Model.Name" style="font-size:14px; font-family:Verdana,sans-serif;" />
<br />    
<div id="@Model.ProjectId">
    <h2>
       
        @Html.HiddenFor(model => model.ProjectId)
    </h2>
    <ul style="list-style:none;">
        <li><p><b>Description:&nbsp;</b>@Model.Description </p></li>
        <li><p><b>Client:&nbsp;</b>@Model.Client.CompanyName </p></li>
        <li><p><b>Type:&nbsp;</b>@Model.Type </p></li>
        <li><p><b>Criteria:&nbsp;</b>@Model.Criteria </p></li>
    </ul>
</div>	
       
@Html.ActionLink("View Details", "Details", "Projects", new { id = Model.ProjectId }, new { @class = "btn btn-info" })

<script type="text/javascript">
     $(document).ready(function () {
         $("#"+@Model.Name).click(function () {
             $("#"+@Model.ProjectId).slideToggle("slow");
         });
     });
</script>