@model CapstoneProject.Project
@{
    ViewBag.Title = "_ProjectDetail";
}
@{
  
    <div class="group panel panel-info" id="@Model.ProjectId" >
        <div class="panel-heading ui-state-enabled">
            <h3 class="panel-title">@Model.Name</h3>
        </div>
      
        <div  class="panel-body">
            <ul style="list-style:none;">
                <li><p><b>Description:&nbsp;</b>@Model.Description </p></li>
                <li><p><b>Client:&nbsp;</b>@Model.Client.CompanyName </p></li>
                <li><p><b>Type:&nbsp;</b>@Model.Type </p></li>
                <li>
                    <p>
                        <b>Criteria:&nbsp;</b>
                        @Html.Partial("_ProjectCriteria", @Model)
                    </p>
                </li>
            </ul>
        </div>
    </div>
    
}