@model CapstoneProject.Models.ViewModels.ProjectForm
@{
    ViewBag.Title = "Create";
}
<h2>Project Creation Form</h2>
<h4>Please fill out the details of your project below.</h4>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal">
        <hr class="colorgraph" />
        <div class="form-group">
            @Html.LabelFor(model => model.project.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.project.Name, new { @class = "form-control input-md " })
                <div style="text-align:left;">
                    @Html.ValidationMessageFor(model => model.project.Name)
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.project.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.project.Description, new { @class = "form-control input-md " })
                <div style="text-align:left;">
                    @Html.ValidationMessageFor(model => model.project.Description)
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.criteria.Goal, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.criteria.Goal, new { @class = "form-control input-md " })
                <div style="text-align:left;">
                    @Html.ValidationMessageFor(model => model.criteria.Goal)
                </div>
            </div>
        </div>
        <hr class="colorgraph" />
        <div class="row">
            <div class="col-md-2"><h4>Criteria</h4></div>
            <div class="col-md-2"><h4>Options</h4></div>
            <div class="col-md-4"><h4>Additional Information</h4></div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.criteria.Storage, new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.RadioButtonFor(model => model.criteria.Storage, true) Yes
                    @Html.RadioButtonFor(model => model.criteria.Storage, false) No
                </div>
                <div class="col-md-4">
                    @Html.TextAreaFor(model => model.criteria.StorageComment, new { @style = "width: 80%" })
                </div>
                @Html.ValidationMessageFor(model => model.criteria.Storage)
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.criteria.Application, new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.RadioButtonFor(model => model.criteria.Application, true) Yes
                    @Html.RadioButtonFor(model => model.criteria.Application, false) No
                </div>
                <div class="col-md-4">
                    @Html.TextAreaFor(model => model.criteria.ApplicationComment, new { @style = "width: 80%" })
                </div>
                @Html.ValidationMessageFor(model => model.criteria.Application)
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.criteria.Website, new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.RadioButtonFor(model => model.criteria.Website, true) Yes
                    @Html.RadioButtonFor(model => model.criteria.Website, false) No
                </div>
                <div class="col-md-4">
                    @Html.TextAreaFor(model => model.criteria.WebsiteComment, new { @style = "width: 80%" })
                </div>
                @Html.ValidationMessageFor(model => model.criteria.Website)
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.criteria.Mobile, new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.RadioButtonFor(model => model.criteria.Mobile, true) Yes
                    @Html.RadioButtonFor(model => model.criteria.Mobile, false) No
                </div>
                <div class="col-md-4">
                    @Html.TextAreaFor(model => model.criteria.MobileComment, new { @style = "width: 80%" })
                </div>
                @Html.ValidationMessageFor(model => model.criteria.Mobile)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                @Html.ActionLink("Cancel", "Projects", "Projects", new { @class = "btn btn-danger" })
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>
        </div>
    </div>
}
