@model CapstoneProject.Project

@{
    ViewBag.Title = "Project Details";
}

<h2>Your Project Details</h2>
@{
    @Html.ActionLink("Back to list", "Projects", null, new { @class = "btn btn-danger" })
    if (Session["UserType"].ToString().Equals("Admin"))
    {    
        if (Model.State.Equals("Pending"))
        {
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#stateModal">Approve / Reject</button>
        }
        else if (Model.State.Equals("Assigned"))
        {
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#markCompleted">Mark Complete</button>
        }
    }
    else
    {
        if(Model.State.Equals("Pending")) { <span> </span> @Html.ActionLink("Edit Project", "EditProject", new { id = Model.ProjectId }, new { @class = "btn btn-info" }) }
            }
}

<hr class="colorgraph"/>
<ul class="tab">
    <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Skillset')" id="skills">General Information</a></li>
    <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Coop')">Other Information</a></li>
</ul>


<div id="Skillset" class="tabcontent">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Criteria.Goal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Criteria.Goal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        @{if (Session["UserType"].ToString().Equals("Admin"))
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Client.CompanyName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Client.CompanyName)
                </dd>
            }
        }

    </dl>
</div>
<div id="Coop" class="tabcontent">
    <table class="table table-striped">
        <thead>
            <tr>
                <td>
                    <h4>Criteria</h4>
                </td>
                <td><h4>Yes/No</h4></td>
                <td><h4>Additional Information</h4></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-md-4">@Html.DisplayNameFor(model => model.Criteria.Storage)</td>
                <td class="col-md-2">@(Model.Criteria.Storage ? "Yes" : "No")</td>
                <td class="col-md-6">@Html.DisplayFor(model => model.Criteria.StorageComment)</td>
            </tr>
            <tr>
                <td class="col-md-4">@Html.DisplayNameFor(model => model.Criteria.Application)</td>
                <td class="col-md-2">@(Model.Criteria.Application ? "Yes" : "No")</td>
                <td class="col-md-6">@Html.DisplayFor(model => model.Criteria.ApplicationComment)</td>
            </tr>
            <tr>
                <td class="col-md-4">@Html.DisplayNameFor(model => model.Criteria.Website)</td>
                <td class="col-md-2">@(Model.Criteria.Website ? "Yes" : "No")</td>
                <td class="col-md-6">@Html.DisplayFor(model => model.Criteria.WebsiteComment)</td>
            </tr>
            <tr>
                <td class="col-md-4">@Html.DisplayNameFor(model => model.Criteria.Mobile)</td>
                <td class="col-md-2">@(Model.Criteria.Mobile ? "Yes" : "No")</td>
                <td class="col-md-6">@Html.DisplayFor(model => model.Criteria.MobileComment)</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- stateModal -->
<div id="stateModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Approve or Reject Project?</h4>
            </div>
            <div class="modal-body">
                <p>Would you like to approve or reject this project?</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="@Model.ProjectId" value="Approved" class="btn btn-success btnChangeState">Approve</button>
                <button type="button" id="@Model.ProjectId" value="Rejected"class="btn btn-danger btnChangeState">Reject</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
            </div> 
        </div>
    </div>
</div>
<!-- Mark Completed -->
<div id="markCompleted" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Mark Project Complete?</h4>
            </div>
            <div class="modal-body">
                <p>Would you like to mark the project complete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="@Model.ProjectId" value="Complete " class="btn btn-success btnMarkComplete">Mark Complete</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        function changeProjectState(pId, pState)
        {
            $.ajax({
                url: '/Projects/ChangeState',
                type: 'POST',
                dataType: 'text',
                data: {
                    id: pId,
                    state: pState
                },
                success: function (data) {
                    window.location.href = "/Projects/Projects";
                }
            });
        }

         $('.btnChangeState').on('click', function (e) {
             changeProjectState($(this).attr("id"), $(this).val());
         });
         $('.btnMarkComplete').on('click', function (e) {
             changeProjectState($(this).attr("id"), $(this).val());
         });
            
    });
</script>

<style>
    /* Style the list */
    ul.tab {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Float the list items side by side */
        ul.tab li {
            float: left;
        }

            /* Style the links inside the list items */
            ul.tab li a {
                display: inline-block;
                color: black;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                transition: 0.3s;
                font-size: 17px;
            }

                /* Change background color of links on hover */
                ul.tab li a:hover {
                    background-color: #ddd;
                }

                /* Create an active/current tablink class */
                ul.tab li a:focus, .active {
                    background-color: #ccc;
                }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>
<script>
    document.getElementById("skills").click();

    function openTab(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the link that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
