@model CapstoneProject.Project

@{
    ViewBag.Title = "Details";
}

<h2>Project Details</h2>
@{
    if (Session["UserType"].ToString().Equals("Admin"))
    {
        if (Model.State.Equals("Pending"))
        {
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#stateModal">Approve / Reject</button>
        }
    }
    else
    {
        @Html.ActionLink("Back to list", "Projects", null, new { @class = "btn btn-default"})
        if(Model.State.Equals("Pending")) { <span> </span> @Html.ActionLink("Edit Project", "EditProject", new { id = Model.ProjectId }, new { @class = "btn btn-info" }) }
            }
        }
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Criteria.Goal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Criteria.Goal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        @{if (Session["UserType"].ToString().Equals("Admin"))
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Client.CompanyName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Client.CompanyName)
                </dd>
            }
        }

    </dl>
    <hr />
    <table class="table table-striped">
        <thead>
            <tr>
                <td>
                    <h4>Criteria</h4>
                </td>
                <td></td>
                <td><h4>Additional Information</h4></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-md-4">@Html.DisplayNameFor(model => model.Criteria.Storage)</td>
                <td class="col-md-2">@(Model.Criteria.Storage ? "Yes" : "No")</td>
                <td class="col-md-6">@Html.DisplayFor(model => model.Criteria.StorageComment)</td>
            </tr>
            <tr>
                <td class="col-md-4">@Html.DisplayNameFor(model => model.Criteria.Application)</td>
                <td class="col-md-2">@(Model.Criteria.Application ? "Yes" : "No")</td>
                <td class="col-md-6">@Html.DisplayFor(model => model.Criteria.ApplicationComment)</td>
            </tr>
            <tr>
                <td class="col-md-4">@Html.DisplayNameFor(model => model.Criteria.Website)</td>
                <td class="col-md-2">@(Model.Criteria.Website ? "Yes" : "No")</td>
                <td class="col-md-6">@Html.DisplayFor(model => model.Criteria.WebsiteComment)</td>
            </tr>
            <tr>
                <td class="col-md-4">@Html.DisplayNameFor(model => model.Criteria.Mobile)</td>
                <td class="col-md-2">@(Model.Criteria.Mobile ? "Yes" : "No")</td>
                <td class="col-md-6">@Html.DisplayFor(model => model.Criteria.MobileComment)</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Modal -->
<div id="stateModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Approve or Reject Project?</h4>
            </div>
            <div class="modal-body">
                <p>Would you like to approve or reject this project?</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="@Model.ProjectId" value="Approved" class="btn btn-success btnChangeState">Approve</button>
                <button type="button" id="@Model.ProjectId" value="Rejected"class="btn btn-danger btnChangeState">Reject</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
            </div> 
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        function changeProjectState(pId, pState)
        {
            $.ajax({
                url: '/Projects/ChangeState',
                type: 'POST',
                dataType: 'text',
                data: {
                    id: pId,
                    state: pState
                },
                success: function (data) {
                    window.location.href = "/Projects/Projects";
                }
            });
        }

         $('.btnChangeState').on('click', function (e) {
             changeProjectState($(this).attr("id"), $(this).val());
        });
            
    });
</script>
