@model CapstoneProject.Models.ViewModels.ProjectWithList

@{
    ViewBag.Title = "Project List";
}

<h3>Project List</h3>

@{ if (Session["UserType"].ToString().Equals("Client"))
    {
        <p>
            @Html.ActionLink("Create Project", "Create", null, new { @class = "btn btn-info" })
        </p>
    }
}
<hr />
<table style="width: 100%">
    <tr>
        <td>
            <div style="width: 50%; float: left; text-align: left;"><h4>@ViewBag.Project</h4></div>
            <div style="width: 50%; float: left; text-align: right;"><h4 style="display: inline-block">Status:</h4> @Html.DropDownListFor(model => model.SelectedItem, Model.States as List<SelectListItem>, new { @style = "width: 110px", @class = "pull-right form-control", @Id = "projectstate" })</div>
        </td>
    </tr>
</table>

<br />

@Html.Partial("~/Views/Projects/_Projects.cshtml", Model.Projects)

<script type="text/javascript">
    $('#projectstate').change(function () {
        var url = '';
        var status = $(this).val();
        if (status == "Approved") {
            url = '@Url.Action("Projects", "Projects", new { state = "Approved" })'
        }
        else if (status == "Pending") {
            url = '@Url.Action("Projects", "Projects", new { state = "Pending" })'
        }
        else if (status == "Rejected") {
            url = '@Url.Action("Projects", "Projects", new { state = "Rejected" })'
        }
        else if (status == "Assigned") {
            url = '@Url.Action("Projects", "Projects", new { state = "Assigned" })'
        }
        else {
            url = '@Url.Action("Projects", "Projects", null)'
        }
        if (url != null && url != '') {
            window.location.href = url;
        }
    })
</script>