@model CapstoneProject.Models.ViewModels.ChangePassword
@{
    ViewBag.Title = "Change Password";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="container">
        <div class="row">
           
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <form role="form">
                    <h2 class="">Change Password</h2>
                    <hr class="colorgraph">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control input-lg", placeholder = "Old Password" })
                                @Html.ValidationMessageFor(model => model.OldPassword)
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control input-lg", placeholder = "New Password" })
                                @Html.ValidationMessageFor(model => model.NewPassword)
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control input-lg", placeholder = "Confirm Password" })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                            </div>
                        </div>

                    </div>
                    <br />
                    <br />
                    <hr class="colorgraph">

                    <span class="text-danger"> @ViewBag.ChangePasswordMessage </span>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input type="submit" name="button" value="Submit" class="btn btn-success btn-block btn-lg" />
                        </div>
                        <div class="col-xs-12 col-md-6">
                            @Html.ActionLink("Cancel", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-info btn-block btn-lg" })
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}




