@model CapstoneProject.Models.ResetPassword
@{
    ViewBag.Title = "ResetPassword";
}

<h2>Reset Password</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="container">
        <div class="row">
           
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <form role="form">
                    <hr class="colorgraph">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-lg", placeholder = "Email" })
                                @Html.ValidationMessageFor(model => model.Email)
                                <span style="color:red"> @ViewBag.EmailError </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.ConfirmEmail, new { @class = "form-control input-lg", placeholder = "Confirm Email" })
                                @Html.ValidationMessageFor(model => model.ConfirmEmail)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.PasswordFor(model => model.TempPassword, new { @class = "form-control input-lg", placeholder = "Old Password" })
                                @Html.ValidationMessageFor(model => model.TempPassword)
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control input-lg", placeholder = "New Password" })
                                @Html.ValidationMessageFor(model => model.NewPassword)
                            </div>
                        </div>
                     
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control input-lg", placeholder = "Confirm Password" })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                            </div>
                        </div>
                    </div>
                    
                    <hr class="colorgraph">
                    <br/>
                    <div class="row">
                        <span style="color:red"> @ViewBag.ResetPasswordError </span>
                        <div class="col-xs-12 col-md-6">
                            <input type="submit" name="button" value="Submit" class="btn btn-success btn-block btn-lg" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}